{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('css/admin/local.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}

<div class="container">
    <a href="{{path('stage1')}}">
        <div class="linkToStage">
        Stage 1
    </div>
    </a>
    <div class="card">
        <a href="{{ path('localDetails', {local: "2106"}) }}">
            <div class="horizontalLocal" id="local2106">
                2106
            </div>
        </a>
        <a href="{{ path('localDetails', {local: "2503"}) }}">
            <div class="verticalLocal" id="local2503">
                2503
            </div>
        </a>
    </div>
</div>
{% endblock %}
