{% extends 'base.html.twig' %}

{% block stylesheets %}
        <link href="{{ asset('css/error/error.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container">
    <center>
        <div class="title">
            Erreur 404
        </div>
        <div class="subTitle">
            Page introuvable
        </div>
        <div class="toHome">
            <p>Une erreur s'est produite, veuillez retourner à au </p>
            <a href="{{ path('index') }}">menu principal</a>
        </div>
    </center>
</div>
{% endblock %}