.border {
  position: absolute;
  top: 30%;
  left: 1%;
  border-radius: 10px;
  background-color: white;
  height: 350px;
  width: 350px;
}

.date p {
  color: white;
  text-align: center;
}

.value p {
  text-align: center;
  position: relative;
  top: 40%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  font-size: 35px;
}

.history {
  position: absolute;
  left: 32%;
  top: 30%;
  border-radius: 10px;
  background-color: white;
  padding: 30px;
  overflow: scroll;
  height: 300px;
}
.history::-webkit-scrollbar {
  display: none;
}

.history td,
.history th {
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid;
}
.history th {
  border: 1px solid;
  background-color: blueviolet;
  color: white;
  margin: 5px;
  padding: 5px;
}

.diffDate {
  position: absolute;
  bottom: 5%;
}
.diffDate p {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

#whiteText {
  color: white;
}
#redText {
  color: red;
}
.pieChart {
  position: absolute;
  top: 30%;
  right: -10%;
  width: 700px;
}

#co2Chart,
#temperatureChart,
#humidityChart {
  background-color: white;
  margin-bottom: 15px;
  border-radius: 10px;
}
#co2Chart {
  margin-top: 500px;
}
